@page
@using Microsoft.Extensions.Localization
@using SuperAbp.AuditLogging.Localization
@using SuperAbp.AuditLogging.Web.Pages.AuditLogging
@model SuperAbp.AuditLogging.Web.Pages.AuditLogging.IndexModel
@inject IStringLocalizer<AuditLoggingResource> L

@{
}
<h1>AuditLogging</h1>
<p>@L["SamplePageMessage"]</p>
